<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@1189.vf61b_a_5e2f62e">
<scope>GLOBAL</scope>
<id>{{ docker_credential_id }}</id>
<description/>
<username>{{ docker_cred_name }}</username>
<password>{{ docker_cred_token }}</password>
<usernameSecret>false</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>